body {
  background-color: #fedb26;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}

main {
  width: 800px;
  text-align: center;
}
.header {
  display: flex;
  justify-content: center;
}

.logo {
  width: 400px;
  margin-bottom: 40px;
}

.hidden {
  display: none;
}

.btn-nav {
  gap: 10px;
  background-color: #e10179;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 5px;
  border: none;
  margin-inline: 10px;
  color: white;
  width: 160px;
}

.btn-nav:hover {
  background-color: #c80066;
  cursor: pointer;
}


.question {
  font-weight: bold;
  margin-top: 15px;
}

.answer {
  margin-bottom: 10px;
}

li {
  list-style-type: none;
}

#question {
  font-weight: bold;
  font-size: 30px;
  color: #04153b;
}

#answer {
  font-size: 24px;
}

h1 {
  margin-top: 20px;
  color: #04153b;
  font-size: 24px;
  font-weight: normal;
}

.btn {
  background-color: white;
  color: #04153b;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  width: 160px;
  transition: background-color 150ms ease;
}

.btn:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.joke {
  height: 140px;
}

input,
textarea {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#add-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  color: #04153b;
  margin-top: 10px;
  font-size: 20px;
}

#blagues-list {
  margin-top: 20px;
  padding: 0px;
}
